.results__button {
  width: 288px;
  height: 64px;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  cursor: pointer;

  background: #FFFFFF;

  margin: 0 auto 80px;
  border-radius: 80px;
  border: 0;
}

.results__button:hover {
  opacity: 0.9;
}

@media screen and (max-width: 1023px) {
  .results__button {
    width: 240px;
    height: 56px;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 1023px) {
  .results__button {
    width: 288px;
    height: 56px;
    margin-bottom: 32px;
  }
}