.main__search {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 608px;
  height: 64px;

  background: #FFFFFF;
  -webkit-box-shadow: inset000 1px rgba(209,210,214,1);
  -moz-box-shadow: inset000 1px rgba(209,210,214,1);
  box-shadow: inset000 1px rgba(209,210,214,1);
  border-radius: 100px;

  margin-top: 64px;
  margin-bottom: 80px;
}

@media screen and (max-width: 1023px) {
  .main__search {
    width: 448px;
    height: 56px;
  }
}

@media screen and (max-width: 767px) {
  .main__search {
    flex-direction: column;

    width: 288px;
  }
}
