.slider__email {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  width: 180px;
}
