.topic__mini {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;

  color: rgba(26, 27, 34, 0.5);
}

@media screen and (max-width: 767px) {
  .topic__mini {
    font-size: 12px;
    line-height: 24px;
  }
}