@import url('./__button/results__button.css');
@import url('./__container/results__container.css');
@import url('./__image/results__image.css');
@import url('./card/card.css');
@import url('./__title/results__title.css');

.results {
  display: flex;
  flex-direction: column;

  background: #F5F6F7;
  min-width: 320px;
  max-width: 100%;

  color: #1a1b22;
}