.header__auth {
  display: flex;
  align-items: center;
  cursor: pointer;

  border: 1px solid;
  border-color: var(--header-text-color);
  box-sizing: border-box;
  border-radius: 100px;
  color: var(--header-text-color);
}

.header__auth-title {
  padding: 12px 0 12px 19px;
}

.header__auth-door_black {
  background: url('../../../../images/door/door-black.svg');
}

.header__auth-door_white {
  background: url('../../../../images/door/door-white.svg');
}

.header__auth-door {
  background-repeat: no-repeat;

  width: 24px;
  height: 24px;
  margin: 14px 12px 10px 12px;
}

@media screen and (max-width: 1023px) {

  .header__auth-title {
    padding: 8px 0 8px 15px;
  }

  .header__auth-door {
    width: 24px;
    height: 24px;
    margin: 10px 12px 6px 10px;
  }
}

@media screen and (max-width: 767px) {
  .header__auth {
    width: 288px;
    height: 56px;
    margin: 24px auto;

    justify-content: center;
  }
}