.header__nav-item {
  margin-right: 34px;
  color: #B6BCBF;
}

.header__nav-item_active {
  padding-bottom: 28px;
  border-bottom: 3px solid;
  border-color: var(--header-text-color);
  color: var(--header-text-color);
}

.header__nav-item:hover {
  color: var(--header-text-color);
}

.header__nav {
  display: flex;
  padding-left: 0;
}

@media screen and (max-width: 1024px) {

  .header__nav-item {
    margin-right: 16px;
  }

  .header__nav-item_active {
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 767px) {
  .header__nav-item {
    margin: 22px 0 0 16px;
    font-size: 18px;
    color: var(--header-text-color);
  }
  .header__nav-element {
    margin-top: 20px;
  }
  .header__nav-item_active {
    border: 0;
    color: none;
    padding-bottom: 0;
  }
  .header__nav {
    display: flex;
    flex-direction: column;
    margin-top: 0;
  }
}