.menu__button {
  display: flex;
  align-items: center;
  cursor: pointer;

  border: 1px solid;
  border-color: #B6BCBF;
  border-radius: 100px;

  box-sizing: border-box;
  background: transparent;

  padding: 10px 20px;
}

.menu__button:hover {
  border-color: var(--header-color-inside);
}

@media screen and (max-width: 1023px) {
  .menu__button {
    height: 46px;
    padding: 0 10px;
  }
}

@media screen and (max-width: 767px) {
  .menu__button {
    margin: 0 16px 24px;
    justify-content: center;
    height: 56px;
  }
}
