.header__icon {
  display: none;
  cursor: pointer;
  mask-size: cover;
  background: var(--header-color-inside);
  position: absolute;
  width: 24px;
  height: 24px;
  top: 16px;
  right: 16px;
  mask: url('../../../../images/menu/menu.svg');
}

.header__icon-close {
  mask: url('../../../../images/menu/cross.svg');
}

@media screen and (max-width: 767px) {
  .header__icon {
    display: inline-block;
  }
}
