.main__subtitle {
  margin-top: 32px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
}

@media screen and (max-width: 1023px) {
  .main__subtitle {
    margin-top: 16px;

    font-size: 18px;
    line-height: 24px;
    width: 452px;
  }
}

@media screen and (max-width: 767px) {
  .main__subtitle {
    font-size: 18px;
    line-height: 24px;
    width: 288px;
  }
}