.topic__keys {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  margin: 30px 0 56px;

  color: #1A1B22;
}

.topic__key {
  display: inline-block;
}

.topic__key_bold {
  display: inline-block;
  font-weight: 900;
}

@media screen and (max-width: 1023px) {
  .topic__keys {
    margin: 16px 0 32px;
  }
}

@media screen and (max-width: 767px) {
  .topic__keys {
    width: 70%;
    min-width: 288px;
  }
}