@import url('./__link/menu__link.css');
@import url('./__items/menu__items.css');
@import url('./__item/menu__item.css');
@import url('./__button/menu__button.css');
@import url('./__door/menu__door.css');
@import url('./__name/menu__name.css');

.menu {
  display: flex;

  margin-right: 104px;
}

.menu.menu_state_active {
  display: flex;
}

@media screen and (max-width: 1023px) {
  .menu {
    margin-right: 40px;
    align-items: center;
  }
}

@media screen and  (max-width: 767px) {
  .menu {
    display: none;
    flex-direction: column;
    background-color: var(--header-color-background);
    margin: 26px 0 0 0;
    align-items: unset;
  }
}
