.card__mark {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  top: 24px;
  right: 24px;

  background: url('../../../../../images/cards/mark.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;

  width: 40px;
  height: 40px;
  border-radius: 8px;
}

.card__mark_logged:hover {
  background: url('../../../../../images/cards/mark_hover.svg');
}

.card__mark_saved {
  background: url('../../../../../images/cards/mark_saved.svg');
}

.card__mark_saved:hover {
  background: url('../../../../../images/cards/mark_saved.svg');
}

@media screen and (max-width: 1023px) {
  .card__mark {
    top: 8px;
    right: 8px;
  }
}

@media screen and (max-width: 767px) {
  .card__mark {
    top: 16px;
    right: 16px;
  }
}
