.results__container {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  column-gap: 16px;
  row-gap: 16px;

  margin: 0 auto 64px;
}

@media screen and (max-width: 1279px) {
  .results__container {
    grid-template-columns: 320px 320px 320px;
    column-gap: 8px;
    row-gap: 8px;
  }
}

@media screen and (max-width: 1023px) {
  .results__container {
    grid-template-columns: 224px 224px 224px;
    column-gap: 8px;
    row-gap: 8px;
    margin-bottom: 22px;
  }
}

@media screen and (max-width: 767px) {
  .results__container {
    grid-template-columns: 288px;
    row-gap: 10px;
    margin-bottom: 15px;
  }
}