.popup__error-user {
  position: absolute;
  top: 145px;
  left: 105px;

  font-family: 'Inter', sans-serif;
  font-size: 12px;
  line-height: 14px;
  cursor: default;
  text-align: center;

  color: #FF0000;
}
